/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Open Sans', 'Meiryo', sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.footer-container footer {
    text-align: center;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#welcome {
    padding-top: 200px;
    height: 400px;
    text-align: center;
}

#slider {
    display: none;
}

.question {
    display: block;
    margin-bottom: 2em;
    background-color: rgba(255, 249, 192, 0);
    -webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}

.option label {
    margin-left: .2em;
}

#slider {
    position: relative;
    overflow: hidden;
    height: 1900px;
}

#slider > .set {
    position: absolute;
    top: 0;
    left: 100%;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 500ms ease;
    -moz-transition: left 500ms ease;
    -ms-transition: left 500ms ease;
    -o-transition: left 500ms ease;
    transition: left 500ms ease;
}

#slider.no-transition > .set {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

#slider > .set.old {
    left: -100%;
}

#slider > .set.visible {
    left: 0;
    z-index: 12;
}

#slider > .set.next {
    left: 100%;
}

button {
    margin-right: 1em;
}

#result {
    padding-top: 200px;
    padding-bottom: 100px;
}

#result > * {
    text-align: center;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 640px) {
    
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container {
        -webkit-box-shadow: 0 5px 10px #eee;
           -moz-box-shadow: 0 5px 10px #eee;
                box-shadow: 0 5px 10px #eee;
    }

    #slider {
        height: 1100px;
    }

    .title {
        float: left;
    }

    .option {
        float: left;
        margin-right: 2em;
    }

    .options:before,
    .options:after {
        content: " ";
        display: table;
    }

    .options:after {
        clear: both;
    }

}

@media only screen and (min-width: 960px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 900px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}